<?xml version="1.0" encoding="UTF-8"?>

<!--
  ASP.NET アプリケーションを構成する方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->

<configuration>
	<connectionStrings>
		<clear/>
		<add name="BYYHDB" connectionString="$(ReplacableToken_BYYHDB-Web.config Connection String_0)" providerName="System.Data.OleDb" />
	</connectionStrings>

	<appSettings>
		<add key="TextLogOut" value="true" />
		<add key="DebugLogOut" value="true" />
	</appSettings>

	<system.web>
		<compilation targetFramework="4.0" />
		<globalization culture="zh-CN" fileEncoding="utf-8" uiCulture="zh-CN" />
	</system.web>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<defaultDocument>
			<files>
				<remove value="default.aspx" />
				<remove value="iisstart.htm" />
				<remove value="index.html" />
				<remove value="index.htm" />
				<remove value="Default.asp" />
				<remove value="Default.htm" />
				<add value="login.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
